body {
    background-color: darkgrey;
    font-family:sans-serif;
    padding: 4.5%;
    }

.main-div {
    max-width: 1440px;
    min-width: 633px;
    border-radius: 10px;

    background-color: white;
    margin: auto;
    padding: 5%;
 

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 16px;
} 

.main-div > h1 {
    background-color: #E0E0E0;
    border-color: #AFB1B6;
    padding: 15px;
    border-radius: 8px;
    border-width: 1px;
    border-style: solid;
    font-weight: 400;
    font-size: 48px;
}

.main-div > h2{
    font-size: 40px;
    font-weight: 400;
}

.main-div > h3{
    font-size: 24px;
    font-weight: 400;
}

.email-input{
    display: flex;
    justify-content:flex-start;
    flex-direction: column;
    gap:4px;
}

.email-input > label{
    font-size: 16px;
    color:#61646B;
}

.email-input > input{
    width: 400px;
    height: 48px;
    font-size: 24px;
    padding: 12px;
    border-radius: 8px;
    border-width: 1px;
    border-style:solid;
    border-color: #61646B;
}

.password-input {
    display: flex;
    justify-content:flex-start;
    flex-direction: column;
    gap:4px;
    position: relative;
}

.password-input > label{
    font-size: 16px;
    color:#61646B;
}

.password-input > input{
    width: 400px;
    height: 48px;
    font-size: 24px;
    padding: 12px;
    border-radius: 8px;
    border-width: 1px;
    border-style:solid;
    border-color: #61646B;
}
.password-button{

    
    width: 24px;
    height: 24px;
    position: static;
    transform: translate(364px, -40px);
}
.signup-button{
    background-color: black;
    border-radius: 16px;
    border-style: none;
    color: #ffffff;
    text-align: center;
    width: 400px;
    height: 48px;
    font-size: 16px;
}

.div-of-stupidity {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 4px;
}
